<div class="row ">
	<div class="col-xs-12 newform-2 mt-2">
		<h2 class="text-center"><strong>投稿編集</strong></h2>
    	<%= render 'publics/posts/editform', post: @post, genres: @genres %>
  </div>
</div>
