<div class="row">
  <div class="col-xs-12 newform-3 mt-2">
    <h2 class="text-center"><strong>新規投稿</strong></h2>
      <%= render 'publics/posts/newform', post: @post, genres: @genres %>
  </div>
</div>