// Place all the styles related to the publics::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-group {
  margin-top: 30px;
}

.user-form {
  width: 120px;
}

.image-form {
  width: 80px;
}

.image-form2 {
  width: 250px;
}

.favorite-font {
  font-size: 20px;
}
