<div class="row">
		<div class="col-xs-12 text-center">
    	<h2><strong class="fontshadow-1 underline-1">本当に退会しますか？</strong></h2></br>
   		<h4>退会すると、ユーザー登録情報や
      <br>これまでの投稿履歴、お気に入り履歴が閲覧できなくなります。
      <br>退会する場合は「退会する」をクリックしてください。
    	</h4></br></br>
        <%= link_to users_path, class: "btn btn-primary btn-lg btn-1" do %>
          <span><i class="far fa-smile"></i> 退会しない</span>
        <% end %>
        <%= link_to users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-lg btn-1 col-xs-offset-3" do %>
          <span><i class="far fa-frown"></i> 退会する</span>
        <% end %>
  	</div>
	</div>