<div class="row">
	<div class="col-xs-12 text-center">
		<div class="kakomi-tape1">
			<h1><span class="title-tape1">サイトテーマ</span></h1>
			<h2>
				生活に役立つちょっとした便利なモノや<br>
				これはおススメだと思う知恵袋等を投稿し共有し合うサイトです。<br>
				ほんの少しでも皆さんの生活の役に立ってくれれば幸いです<i class="far fa-smile"></i><br>
			</h2>
		</div>
		<br>
		<br>
		<div class="kakomi-tape2">
			<h1><span class="title-tape2">主な利用シーン</span></h1>
			<h2>
				キッチンやリビング等、モノが多くなって上手に整理整頓できない時<br>
				色んなシーンで、今使ってるモノが少しでも不便だなと感じた時<br>
				生活のちょっとしたことでも便利になるモノを新たに発見したい時<br>
				自分が普段使ってるモノで便利だから紹介したいなと思った時<br>
			</h2>
		</div>
	</div>
</div>