<div class="row">
	<div class="col-xs-12 text-center">
		<div class="welcome">
			<div class="wrapper">
				<div class="title">
					<h1>About</h1>
					<p>生活に役立つちょっとした便利グッズやこれはおススメだと思う知恵袋等を投稿し共有し合うサイトです</p>
				</div>
			</div>
		</div>
	</div>
</div>
