<table class="table table-hover table-inverse table-bordered">
  <thead>
    <tr class="info">
      <th>ジャンル</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td class="text-left"><%= genre.name%></td>
        <% if genre.genre_status == true %>
          <td><i class="far fa-smile-wink"></i>有効</td>
        <% else %>
          <td><i class="far fa-tired"></i>無効</td>
        <% end %>
        <td>
          <%= link_to edit_admins_genre_path(genre), class: "btn btn-primary btn-3" do %>
            <span><i class="far fa-edit"></i> 編集する</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "text-center"><%= paginate(genres) %></div>