<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2 class="fontshadow-1"><strong>ジャンル一覧・追加</strong></h2></br>
    <%= render 'admins/genres/newform', genre: @genre %>
    <%= render 'admins/genres/index', genres: @genres %>
  </div>
</div>