<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="fontshadow-1"><strong>ユーザー一覧</strong></h2>
  </div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<%= render 'admins/users/index', users: @users %>
	</div>
</div>
