<div class='row'>
  <%= render 'admins/posts/genre', genres: @genres %>

  <div class="col-xs-9 text-center">
    <h2>
      <span class="fontshadow-1" style="display: inline-block;"><strong>投稿一覧</strong></span>
    </h2>
    <%= render 'admins/posts/index', posts: @posts %>
  </div>
</div>

