<%= render 'admins/posts/detail', post: @post, average_review: @average_review %>

<div class='row'>
  <div class="col-xs-12 text-center">
    <h2 class="fontshadow-1"><strong>レビュー一覧</strong></h2>
  </div>
  <%= render 'admins/posts/reviewindex', post: @post %>
</div>