<div class='row'>
	<div class="col-xs-12 text-center">
		<h2>
      <span class="fontshadow-1"><strong>レビュー一覧</strong>
    </h2>
	</div>
	<div class="col-xs-12">
    <%= render 'publics/reviews/reviewindex', post: @post %>
  </div>
</div>
